.whatsapp {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 9999;
    transition: 1s;
}

.whatsapp i {
    font-size: 30px;
    color: #fff;
    background-color: #f08312;
    border-radius: 50%;
    padding: 10px;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.whatsapp:hover {
    animation: pulse 1s infinite;
    transform: translateY(-10px);
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgb(240, 131, 18);
        border-radius: 50%;
    }
    80% {
        box-shadow: 0 0 0 14px rgba(255, 255, 255, 0.18);
        border-radius: 100%;

    }
}

